<nav class="navbar navbar-expand-lg navbar-light fondo" *ngIf="loginService.userLoggedIn()" >
    <div class="container-fluid  ">
        <img src="../../../assets/icons/calendario.png" alt="" class="">

        <a class="navbar-brand text-white mx-3" href="#">Nombre app</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">


            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown" *ngIf="loginService.userRole()=='ADMINISTRADOR'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Administración
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" [routerLink]="['dependencias']">Dependencias</a></li>
                        <li><a class="dropdown-item" [routerLink]="['empleado-form/0']">Nuevo Empleado</a></li>
                        <li><a class="dropdown-item" [routerLink]="['empleados']">Lista de Empleados</a></li>
                    </ul>
                </li>
                <li class="nav-item" *ngIf="loginService.userRole()=='ADMINISTRADOR'">
                    <a class="nav-link active" aria-current="page" href="#">Calendario</a>
                </li>
                <li class="nav-item" *ngIf="loginService.userRole()=='ADMINISTRADOR'">
                    <a class="nav-link" href="#">Reuniones</a>
                </li>


                <li class="nav-item" *ngIf="loginService.userRole()=='PARTICIPANTE'">
                    <a class="nav-link active" aria-current="page" href="#">Agenda</a>
                </li>
                <li class="nav-item" *ngIf="loginService.userRole()=='PARTICIPANTE'">
                    <a class="nav-link mx-3" href="#">Audiencia</a>
                </li>
                <li class="nav-item" *ngIf="loginService.userRole()=='PARTICIPANTE'">
                    <a class="nav-link mx-3" href="#">Consultar Audiencia</a>
                </li>


                <li class="nav-item dropdown" *ngIf="loginService.userRole()=='ADMINISTRADOR'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Reportes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                
            </ul>
            <span class="navbar-text  ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
                        <li><a class="dropdown-item" *ngIf="!loginService.userLoggedIn()" [routerLink]="['login']">Login</a></li>
                        <li><p *ngIf="loginService.userLoggedIn()">{{loginService.userLogged()}}</p></li>
                        <li><a class="dropdown-item" [routerLink]="['login']" *ngIf="loginService.userLoggedIn()" (click)="logout()">Logout</a></li>
                        
                    </ul>
                </li>
            </span>
        </div>
    </div>
</nav>


