<div class="container-fluid">
    <div class="row m-5 justify-content-center">

        <div class="col-md-10 px-5 pt-4 pb-3 rounded-top bg-celeste text-white">
            <h2 *ngIf="accion=='new'" class="titulo">Nueva Reunión</h2>
            <h2 *ngIf="accion=='update'" class="titulo">Modificar Reunión</h2>
        </div>

        <div class="col-md-10 p-5 rounded-bottom bg-white">
            <form #reunionForm="ngForm" class="row justify-content-between" action="" method="POST">
                
                <div class="col-md-5 row">
                    <div class="mb-4">
                        <label class="form-label" for="inicio">Fecha y hora de inicio</label>
                        <input class="form-control" type="datetime-local" id="inicio"
                        [(ngModel)]="reunion.horaInicio" name="inicio" required #inicio="ngModel"
                        [ngClass]="{'border-danger': inicio.invalid && (inicio.dirty || inicio.touched)}">

                        <div *ngIf="inicio.invalid && (inicio.dirty || inicio.touched) && inicio.errors?.['required']" class="form-text text-danger">
                            <i class="bi bi-exclamation-circle"></i> Ingrese fecha de inicio.
                        </div>
                    </div>

                    <div class="mb-4">
                        <label class="form-label" for="finalizacion">Hora de finalizacion</label>
                        <input class="form-control" type="datetime-local" id="finalizacion"
                        [(ngModel)]="reunion.horaFinal" name="finalizacion" required #finalizacion="ngModel"
                        [ngClass]="{'border-danger': finalizacion.invalid && (finalizacion.dirty || finalizacion.touched)}">

                        <div *ngIf="finalizacion.invalid && (finalizacion.dirty || finalizacion.touched) && finalizacion.errors?.['required']" class="form-text text-danger">
                            <i class="bi bi-exclamation-circle"></i> Ingrese hora de finalización.
                        </div>
                    </div>

                    <div class="mb-4">
                        <label class="form-label" for="prioridad">Prioridad</label>
                        <select class="form-select" id="prioridad" [(ngModel)]="reunion.prioridad" name="prioridad" required #prioridad="ngModel"
                        [ngClass]="{'border-danger': prioridad.invalid && (prioridad.dirty || prioridad.touched)}">
                            <option [value]="''" selected disabled>Seleccione Prioridad</option>
                            <option *ngFor="let prioridad of prioridades" [value]="prioridad._id">{{ prioridad.tipoPrioridad }}</option>
                        </select>

                        <div *ngIf="prioridad.invalid && (prioridad.dirty || prioridad.touched) && prioridad.errors?.['required']" class="form-text text-danger">
                            <i class="bi bi-exclamation-circle"></i> Seleccione prioridad.
                        </div>
                    </div>

                    <div class="mb-4">
                        <label class="form-label" for="tipo">Tipo de reunión</label>
                        <select class="form-select" id="tipo" [(ngModel)]="reunion.tipoReunion" name="tipo" required #tipo="ngModel"
                        [ngClass]="{'border-danger': tipo.invalid && (tipo.dirty || tipo.touched)}">
                            <option [value]="''" selected disabled>Seleccione tipo de reunión</option>
                            <option *ngFor="let tipo of tiposReuniones" [value]="tipo._id">{{ tipo.tipoReunion }}</option>
                        </select>

                        <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched) && tipo.errors?.['required']" class="form-text text-danger">
                            <i class="bi bi-exclamation-circle"></i> Seleccione tipo de reunión.
                        </div>
                    </div>

                    <div class="mb-4">
                        <label class="form-label" for="oficina">Oficina</label>
                        <select class="form-select" id="oficina" [(ngModel)]="reunion.oficina" name="oficina" required #oficina="ngModel"
                        [ngClass]="{'border-danger': oficina.invalid && (oficina.dirty || oficina.touched)}">
                            <option [value]="''" selected disabled>Seleccione oficina</option>
                            <option *ngFor="let oficina of oficinas" [value]="oficina._id">{{ oficina.nombre }}</option>
                        </select>

                        <div *ngIf="oficina.invalid && (oficina.dirty || oficina.touched) && oficina.errors?.['required']" class="form-text text-danger">
                            <i class="bi bi-exclamation-circle"></i> Seleccione oficina.
                        </div>
                    </div>
                </div>

                <div class="col-md-7 row">
                    <div class="mb-4">
                        <label class="form-label">Agregar participantes</label>
                        <ng-multiselect-dropdown
                        [placeholder]="'Seleccione participantes'"
                        [settings]="dropdownSettingsParticipantes"
                        [data]="participantes"
                        [(ngModel)]="selectedItemsParticipantes"
                        name="participantes" required #par="ngModel"
                        >
                        </ng-multiselect-dropdown>
                        <div *ngIf="par.invalid && (par.dirty || par.touched) && par.errors?.['required']" class="form-text text-danger">
                            <i class="bi bi-exclamation-circle"></i> Seleccione participantes.
                        </div>
                    </div>

                    <div class="mb-4">
                        <label class="form-label">Agregar recursos digitales</label>
                        <ng-multiselect-dropdown
                        [placeholder]="'Seleccione recursos'"
                        [settings]="dropdownSettingsDigitales"
                        [data]="recursosDigitales"
                        [(ngModel)]="selectedItemsDigitales"
                        name="digitales" required #dig="ngModel"
                        >
                        </ng-multiselect-dropdown>
                        <div *ngIf="dig.invalid && (dig.dirty || dig.touched) && dig.errors?.['required']" class="form-text text-danger">
                            <i class="bi bi-exclamation-circle"></i> Seleccione recursos.
                        </div>
                    </div>

                    <div class="mb-4">
                        <label class="form-label">Agregar recursos fisicos</label>
                        <ng-multiselect-dropdown
                        [placeholder]="'Seleccione recursos'"
                        [settings]="dropdownSettingsFisicos"
                        [data]="recursosFisicos"
                        [(ngModel)]="selectedItemsFisicos"
                        name="fisicos" required #fis="ngModel"
                        >
                        </ng-multiselect-dropdown>
                        <div *ngIf="fis.invalid && (fis.dirty || fis.touched) && fis.errors?.['required']" class="form-text text-danger">
                            <i class="bi bi-exclamation-circle"></i> Seleccione recursos.
                        </div>
                    </div>

                    <div class="mb-4">
                        <label class="form-label" for="estado">Estado</label>
                        <select class="form-select" id="estado" [(ngModel)]="reunion.estado" name="estado" required #estado="ngModel"
                        [ngClass]="{'border-danger': estado.invalid && (estado.dirty || estado.touched)}">
                            <option [value]="''" selected disabled>Seleccione estado</option>
                            <option *ngFor="let estado of estados" [value]="estado._id">{{ estado.nombreEstado }}</option>
                        </select>

                        <div *ngIf="estado.invalid && (estado.dirty || estado.touched) && estado.errors?.['required']" class="form-text text-danger">
                            <i class="bi bi-exclamation-circle"></i> Seleccione estado.
                        </div>
                    </div>
                </div>



                <div class="col-12 text-center mt-5">
                    <button *ngIf="accion=='new'" (click)="agregarReunion(content)" [disabled]="!reunionForm.valid"
                    type="submit" class="btn btn-celeste px-5 ms-4">Agregar</button>

                    <button *ngIf="accion=='update'" (click)="modificarReunion(content)" [disabled]="!reunionForm.valid"
                    type="submit" class="btn btn-celeste px-5 ms-4">Modificar</button>

                    <button *ngIf="accion=='update'" (click)="cancelar()" type="submit" class="btn btn-rojo px-5 ms-4">Cancelar</button>
                </div>
            </form>
        </div>

        <!-- <div class="col-12 col-lg-10 p-5">
            <div class="row align-items-center rounded bg-celeste">
                <div class="col-md-4 text-center text-white pt-2">
                    <div *ngIf="accion=='new'">
                        <h2 class="titulo">Nueva Reunion</h2>
                        <i class="bi bi-person-plus d-none d-md-block"></i>
                    </div>
                    <div *ngIf="accion=='update'">
                        <h2 class="titulo">Modificar Empleado</h2>
                        <i class="bi bi-person-lines-fill d-none d-md-block"></i>
                    </div>
                </div>
                <div class="col-md-8 p-5 bg-white">
                    <form #reunionForm="ngForm" class="row g-3" action="" method="POST">
                        
                        <div class="col-md-6 row">
                            <div class="">
                                <label class="form-label" for="inicio">Fecha y hora de inicio</label>
                                <input class="form-control" type="datetime-local" id="inicio"
                                [(ngModel)]="reunion.horaInicio" name="inicio" required #inicio="ngModel"
                                [ngClass]="{'border-danger': inicio.invalid && (inicio.dirty || inicio.touched)}">
    
                                <div *ngIf="inicio.invalid && (inicio.dirty || inicio.touched) && inicio.errors?.['required']" class="form-text text-danger">
                                    <i class="bi bi-exclamation-circle"></i> Ingrese fecha de inicio.
                                </div>
                            </div>

                            <div class="">
                                <label class="form-label" for="finalizacion">Hora de finalizacion</label>
                                <input class="form-control" type="time" id="finalizacion"
                                [(ngModel)]="reunion.horaFinal" name="finalizacion" required #finalizacion="ngModel"
                                [ngClass]="{'border-danger': finalizacion.invalid && (finalizacion.dirty || finalizacion.touched)}">
    
                                <div *ngIf="finalizacion.invalid && (finalizacion.dirty || finalizacion.touched) && finalizacion.errors?.['required']" class="form-text text-danger">
                                    <i class="bi bi-exclamation-circle"></i> Ingrese hora de finalización.
                                </div>
                            </div>

                            <div class="">
                                <label class="form-label" for="prioridad">Prioridad</label>
                                <select class="form-select" id="prioridad" [(ngModel)]="reunion.prioridad" name="prioridad" required #prioridad="ngModel"
                                [ngClass]="{'border-danger': prioridad.invalid && (prioridad.dirty || prioridad.touched)}">
                                    <option [value]="''" selected disabled>Seleccione Prioridad</option>
                                    <option *ngFor="let prioridad of prioridades" [value]="prioridad._id">{{ prioridad.tipoPrioridad }}</option>
                                </select>
    
                                <div *ngIf="prioridad.invalid && (prioridad.dirty || prioridad.touched) && prioridad.errors?.['required']" class="form-text text-danger">
                                    <i class="bi bi-exclamation-circle"></i> Seleccione prioridad.
                                </div>
                            </div>

                            <div class="">
                                <label class="form-label" for="tipo">Tipo de reunión</label>
                                <select class="form-select" id="tipo" [(ngModel)]="reunion.tipoReunion" name="tipo" required #tipo="ngModel"
                                [ngClass]="{'border-danger': tipo.invalid && (tipo.dirty || tipo.touched)}">
                                    <option [value]="''" selected disabled>Seleccione tipo de reunión</option>
                                    <option *ngFor="let tipo of tiposReuniones" [value]="tipo._id">{{ tipo.tipoReunion }}</option>
                                </select>
    
                                <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched) && tipo.errors?.['required']" class="form-text text-danger">
                                    <i class="bi bi-exclamation-circle"></i> Seleccione tipo de reunión.
                                </div>
                            </div>
    
                            <div class="">
                                <label class="form-label" for="oficina">Oficina</label>
                                <select class="form-select" id="oficina" [(ngModel)]="reunion.oficina" name="oficina" required #oficina="ngModel"
                                [ngClass]="{'border-danger': oficina.invalid && (oficina.dirty || oficina.touched)}">
                                    <option [value]="''" selected disabled>Seleccione oficina</option>
                                    <option *ngFor="let oficina of oficinas" [value]="oficina._id">{{ oficina.nombre }}</option>
                                </select>
    
                                <div *ngIf="oficina.invalid && (oficina.dirty || oficina.touched) && oficina.errors?.['required']" class="form-text text-danger">
                                    <i class="bi bi-exclamation-circle"></i> Seleccione oficina.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 row">
                            <div class="">
                                <label class="form-label">Agregar participantes</label>
                                <ng-multiselect-dropdown
                                [placeholder]="'Seleccione participantes'"
                                [settings]="dropdownSettingsParticipantes"
                                [data]="participantes"
                                [(ngModel)]="selectedItemsParticipantes"
                                (onSelect)="onItemSelect($event)"
                                name="participantes" required #par="ngModel"
                                >
                                </ng-multiselect-dropdown>
                                <div *ngIf="par.invalid && (par.dirty || par.touched) && par.errors?.['required']" class="form-text text-danger">
                                    <i class="bi bi-exclamation-circle"></i> Seleccione participantes.
                                </div>
                            </div>
    
                            <div class="">
                                <label class="form-label">Agregar recursos digitales</label>
                                <ng-multiselect-dropdown
                                [placeholder]="'Seleccione recursos'"
                                [settings]="dropdownSettingsDigitales"
                                [data]="recursosDigitales"
                                [(ngModel)]="selectedItemsDigitales"
                                name="digitales" required #dig="ngModel"
                                >
                                </ng-multiselect-dropdown>
                                <div *ngIf="dig.invalid && (dig.dirty || dig.touched) && dig.errors?.['required']" class="form-text text-danger">
                                    <i class="bi bi-exclamation-circle"></i> Seleccione recursos.
                                </div>
                            </div>
    
                            <div class="">
                                <label class="form-label">Agregar recursos fisicos</label>
                                <ng-multiselect-dropdown
                                [placeholder]="'Seleccione recursos'"
                                [settings]="dropdownSettingsFisicos"
                                [data]="recursosFisicos"
                                [(ngModel)]="selectedItemsFisicos"
                                name="fisicos" required #fis="ngModel"
                                >
                                </ng-multiselect-dropdown>
                                <div *ngIf="fis.invalid && (fis.dirty || fis.touched) && fis.errors?.['required']" class="form-text text-danger">
                                    <i class="bi bi-exclamation-circle"></i> Seleccione recursos.
                                </div>
                            </div>
    
                            <div class="">
                                <label class="form-label" for="estado">Estado</label>
                                <select class="form-select" id="estado" [(ngModel)]="reunion.estado" name="estado" required #estado="ngModel"
                                [ngClass]="{'border-danger': estado.invalid && (estado.dirty || estado.touched)}">
                                    <option [value]="''" selected disabled>Seleccione estado</option>
                                    <option *ngFor="let estado of estados" [value]="estado._id">{{ estado.nombreEstado }}</option>
                                </select>
    
                                <div *ngIf="estado.invalid && (estado.dirty || estado.touched) && estado.errors?.['required']" class="form-text text-danger">
                                    <i class="bi bi-exclamation-circle"></i> Seleccione estado.
                                </div>
                            </div>
                        </div>



                        <div class="col-12 text-center mt-5">
                            <button *ngIf="accion=='new'" (click)="agregarReunion(content)" [disabled]="!reunionForm.valid"
                            type="submit" class="btn btn-celeste px-5 ms-4">Agregar</button>

                            <button *ngIf="accion=='update'" (click)="modificarReunion(content)" [disabled]="!reunionForm.valid"
                            type="submit" class="btn btn-celeste px-5 ms-4">Modificar</button>

                            <button *ngIf="accion=='update'" (click)="cancelar()" type="submit" class="btn btn-rojo px-5 ms-4">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Aviso</h4>
    </div>
    <div class="modal-body text-center text-uppercase">
        <p class="mt-4">{{ respuesta.message }}</p>
        <p *ngIf="respuesta.status==201 || respuesta.status==200" class="mt-4"><i class="bi bi-check-circle text-success"></i></p>
        <p *ngIf="respuesta.status!=201 && respuesta.status!==200" class="mt-4"><i class="bi bi-exclamation-circle text-danger"></i></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-celeste" (click)="modal.close()">Close</button>
    </div>
</ng-template>